<form name="$ctrl.form" class="br-flex-vertical-children br-flex-stretch-width">
  <div ng-repeat="attribute in $ctrl.schema.attribute">

    <!-- ShortString -->
    <br-input ng-if="attribute.dataType === 'ShortString' && !attribute.option"
      br-model="$ctrl.entity[attribute.modelProperty]"
      br-options="{
        name: attribute.modelProperty,
        label: attribute.label,
        showValidation: !!attribute.validation,
        type: 'text',
        theme: 'material'
      }"
      br-input-ng-disabled="$ctrl.loading"
      br-input-autocomplete="off"
      br-input-ng-minlength="attribute.validation.minLength"
      br-input-ng-maxlength="attribute.validation.maxLength"
      br-input-ng-required="attribute.validation.required">
      <br-input-help>
{{attribute.description}}
      </br-input-help>
      <br-input-validation-errors>
        <div ng-messages="$ctrl.form[attribute.modelProperty].$error">
          <div ng-message="required">
{{attribute.label}} is required.
          </div>
          <div ng-message="minlength">
{{attribute.label}} is required to be at least
{{attribute.validation.minLength}} characters.
          </div>
          <div ng-message="maxlength">
{{attribute.label}} must not be longer than {{attribute.validation.maxLength}}
characters.
          </div>
        </div>
      </br-input-validation-errors>
    </br-input>

    <!-- Number -->
    <br-input ng-if="attribute.dataType === 'Number'"
      br-model="$ctrl.entity[attribute.modelProperty]"
      br-options="{
        name: attribute.modelProperty,
        label: attribute.label,
        showValidation: !!attribute.validation,
        type: 'number',
        theme: 'material'
      }" br-input-ng-disabled="$ctrl.loading" br-input-autocomplete="off"
      br-input-ng-min="attribute.validation.minValue"
      br-input-ng-max="attribute.validation.maxValue"
      br-input-ng-required="attribute.validation.required">
      <br-input-help>
        {{attribute.description}}
      </br-input-help>
      <br-input-validation-errors>
        <div ng-messages="$ctrl.form[attribute.modelProperty].$error">
          <div ng-message="required">{{attribute.label}} is required.</div>
          <div ng-message="min">{{attribute.label}} is required to be at least {{attribute.validation.minValue}}.</div>
          <div ng-message="max">{{attribute.label}} must not be more than {{attribute.validation.maxValue}}.</div>
        </div>
      </br-input-validation-errors>
    </br-input>

    <!-- Select for ShortString -->
    <br-select ng-if="attribute.dataType === 'ShortString' && attribute.option"
      br-model="$ctrl.entity[attribute.modelProperty]"
      br-items="attribute.option"
      br-display-item="item.label"
      br-options="{
        name: attribute.modelProperty,
        label: attribute.label,
        key: 'value',
        theme: 'material',
        required: attribute.validation.required,
        autocomplete: false
      }">
      <br-select-help>
{{attribute.description}}
      </br-select-help>
      <br-select-validation-errors>
        <div ng-messages="$ctrl.form[attribute.modelProperty].$error">
          <div ng-message="required">
{{attribute.label}} is required.
          </div>
        </div>
      </br-select-validation-errors>
    </br-select>
  </div>
</form>
